
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tienda en línea</h1>
    <p class="lead">Dashboard de ventas de productos</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Categorías</h2>
        <p>
            Monitorea las categorías de tus productos con mejores ventas.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ventas</h2>
        <p>Total de venta del día</p>
        <div id="piechart" style="width: 450px; height: 250px;"></div>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Productos</h2>
        <p>Total de productos vendidos</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>